html, body {
    margin: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    height: 100%;
    width: 100%;
    background: url("./assets/images/stars.png");
}

h2 {margin: 0.5em;}


/*BRAND STYLING*/

#sig {
    position: fixed;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    height: 5vmin;
    width: auto;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

/*POP-UP FOR PLANET CONTENT UPON CLICK*/

#blurb {
    position: absolute;
    margin:0;
    /*height: 100%;*/
    width: 45%;
    left:50%;
    text-align: center;
    overflow: auto;
    transition: all 0.5s;
}

/*MODULAR CLASSES FOR EACH PLANET*/

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 2s;
}
.turntable {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 2s;
    overflow: inherit;
}

.turntable p {
    margin: 0;
    position: absolute;
    left: 49%;
    bottom: 50%;
    transform-origin: 0 100%;
    height: 52%;
    text-shadow: 0 0 2px green;
}

.planet {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    -moz-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
    -webkit-box-shadow: 2px 2px 3px #111, inset 0 0 10px #111; 
    box-shadow: 2px 2px 3px #111, inset 0 0 10px #111;
    z-index:1;
}

.planet:hover {
    -moz-box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
    -webkit-box-shadow: 0 0 10px #eee, inset 0 0 10px #111; 
    box-shadow: 0 0 10px #eee, inset 0 0 10px #111;
}

.planet div {
    display: none;
}

.content {
    margin: 2px;
    border-radius: 2%;
    padding: 0.5em;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    box-shadow: 2px 2px 0 #888;
}

.content img {
    width: 85%;
    height: auto;
    max-height: 100%;
    border: 2px solid #222;
    box-sizing: border-box;
}

.content ul {
    margin: 5px auto;
    display: inline-block;
    text-align: left;
}

.content p {
    margin: 5px auto;
}

.content img, button {box-shadow: 1px 2px 2px #333;}

.flag {
    height: 40%;
    position: absolute;
    top: 13%;
    left:40%;
    transition: all 2s;
    z-index: -1;
}

/*PROJECT-SPECIFIC FONTS*/

#chronicle-content {
    font-family: 'Alegreya', serif;
}

.roboto-content {
    font-family: 'Roboto', sans-serif;
}

#farm-content {
    font-family: 'Irish Grover', cursive;
}

/*PLANET-SPECIFIC STYLING*/

/*PROJECTS (SUN)*/

#sun {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 18%;
    left: 55%;
    animation-delay: 2s;
    font-size: 2em;
}

#sun p {height: 45%;}

#sunStar {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #fe0, #e60);
}

/*CONTACT*/

#contact {
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 15%;
    top: 60%;
}

#contactPlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left:12.5%;
    background-image: radial-gradient(
        #e33, #622);
}

form {
    margin:auto;
    width: 80%;
    text-align: right;
}

input, textarea {
    width: 80%;
    margin: 1em 1px 0 1px;
    padding: 1px;
    border: 1px solid gray;
    box-shadow: 0 2px 2px #333;
}

textarea {height: 10em;}

/*ABOUT ME*/

#about {
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: 30%;
    top: 15%;
    font-size: 1.2em;
    animation-delay: 1s;
    text-align: center;
}

#aboutPlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #ddd, #555);
}

/*CHRONICLE*/

#chronicle {
    height: 13rem;
    width: 13rem;
    position: absolute;
    left: 125%;
    top: 5%;
    font-size: 1.2em;
    animation-delay: 1s;
}

#chroniclePlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #add, #599);
}

/*FARM*/

#farm {
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: 110%;
    top: 30%;
}

#farmPlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #aad, #55a);
}

/*WOK*/

#wok {
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 118%;
    top: 70%;
    animation-delay: 2s;
}

#wokPlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #d60, #620);
}

/*BUILDER*/

#builder {
    height: 11rem;
    width: 11rem;
    position: absolute;
    left: 128%;
    top: 45%;
    animation-delay: 1.5s;
}

#builderPlanet {
    height: 75%;
    width: 75%;
    top: 12.5%;
    left: 12.5%;
    background-image: radial-gradient(
        #fc0000, #720035);
}

/*ANIMATION*/

.wobble {
    text-align: center;
    animation-name: wobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wobble {
    0% {transform: translate(0)}
    25% {transform: translate(3px)}
    75% {transform: translate(-3px)}
}

/*MEDIA QUERIES FOR SMALLER SCREENS*/

@media (max-width: 500px) {
    #center {
        height: 20rem;
        width: 20rem;
        font-size: 1.2em;
    }
    
    #contact {
        height: 6rem;
        width: 6rem;
        font-size: 0.8em;
    }
    
    #about {
        height: 8rem;
        width: 8rem;
        font-size: 1em;
    }
    
    #chronicle {
        height: 9rem;
        width: 9rem;
        font-size: 1em;
    }
    
    #farm {
        height: 7rem;
        width: 7rem;
        font-size: 0.8em;
    }
    
    #wok {
        height: 5rem;
        width: 5rem;
        font-size: 0.6em;
    }
    
    #blurb {
        width: 95%;
        left: 2.5%;
    }
    
    #sig {
        left:1%;
    }
}

/*CIRCULAR TEXT TRANSFORMATIONS*/

#a1 {transform: rotate(-35deg)}
#a2 {transform: rotate(-25deg)}
#a3 {transform: rotate(-15deg)}
#a4 {transform: rotate(-5deg)}
#a5 {transform: rotate(5deg)}
#a6 {transform: rotate(15deg)}
#a7 {transform: rotate(25deg)}
#a8 {transform: rotate(35deg)}

#c0 {transform: rotate(-40deg)}
#c1 {transform: rotate(-30deg)}
#c2 {transform: rotate(-20deg)}
#c3 {transform: rotate(-10deg)}
#c4 {transform: rotate(0deg)}
#c5 {transform: rotate(10deg)}
#c6 {transform: rotate(20deg)}
#c7 {transform: rotate(30deg)}
#c8 {transform: rotate(40deg)}

#p1 {transform: rotate(-80deg)}
#p2 {transform: rotate(-75deg)}
#p3 {transform: rotate(-70deg)}
#p4 {transform: rotate(-65deg)}
#p5 {transform: rotate(-60deg)}
#p6 {transform: rotate(-55deg)}
#p7 {transform: rotate(-50deg)}
#p8 {transform: rotate(-45deg)}
#p9 {transform: rotate(-35deg)}
